@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--primary-color);
}

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(45deg, #9b34ef 0%, #490cb0 20%, transparent 50%);
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg, #5516ba, #ff00e580 80%);
    --nav-bg-color: #0000004d;
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: #d3d3d30f;
    --form-field-bg-color: #00000033;
    --form-field-border: 1px solid #ffffffb3;
    --form-field-placeholder: #ffffffb3;
    --form-field-error: #ff4c4c;

    scroll-behavior: smooth;
}

.menu {
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg-color);
    position: fixed;
    width: 100%;
    gap: 24px;
    padding: 2rem 1.5rem;
}

.menu__logo {
    width: 100px;
}

.menu__logo img {
    width: 100%;
}

.menu div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu__signin-btn,
.menu__subscribe-btn {
    border: none;
    letter-spacing: 1.5px;
    font-size: 0.8rem;
}

.menu__signin-btn {
    background: none;
}

.menu__subscribe-btn {
    border: none;
    background-color: var(--tertiary-color);
    padding: 0.5rem 1.65rem;
    border-radius: 20px;
    transition: background 1s, color 1s;
}

.menu__subscribe-btn:hover {
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
}

h1,
button {
    text-transform: uppercase;
}

button {
    font-weight: bold;
    cursor: pointer;
}

p {
    font-family: 'Quicksand', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding-left: 1rem;
    font-size: 1.25rem;
    max-width: 420px;
}

li::marker {
    content: '+';
    font-size: 2rem;
}

.text--small {
    font-size: 1rem;
    font-weight: lighter;
}

.container {
    max-width: 1200px;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
}

.btn--gradient {
    color: var(--text-color);
    background: var(--btn-bg-color-gradient);
    border: none;
    outline: 3px solid transparent;
    border-radius: 30px;
    letter-spacing: 4px;
    font-size: 1rem;
    background-size: 250%;
    padding: 1rem 2.5rem;
    transition: background 1s, outline 1s, transform 1s ease-in-out;
}

.btn--gradient:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}

.footer__link {
    display: block;
    margin-bottom: 1rem;
    color: var(--link-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.875rem;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    transition: color 0.5s;
}

.footer__link:hover {
    color: var(--text-color);
}

.footer > p {
    font-size: 0.75rem;
    margin: 1rem 0;
    color: var(--link-color);
}

.footer__social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

@media screen and (min-width: 480px) {
    .menu {
        flex-direction: row;
        padding: 1rem;
    }

    .menu__logo {
        width: 160px;
    }

    .footer__link {
      display: inline;
      margin: 0 1rem;
  }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}
